/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {height:100%;}
body {
	font-size: 1.4px;
	& * {
		box-sizing: border-box;
	}
}
