<div class="view-container-full">
  <div class="view-container">
    <svg  attr.height="300" attr.width="300" attr.viewBox="0 0 {{responseModel?.dolzina}} {{responseModel?.sirina}}" style="transform:scaleY(-1); background-color:black;">
      <rect attr.width="{{responseModel?.dolzina}}" attr.height="{{responseModel?.sirina}}" attr.stroke-width="{{responseModel?.rob}}" fill="black" stroke="red" />
      <circle *ngFor="let circle of responseModel?.coordinates" attr.cx="{{circle.x}}" attr.cy="{{circle.y}}" attr.r="{{circle.r}}" stroke="red" attr.stroke-width="{{circle.s}}" fill="white" />
      Sorry, your browser does not support inline SVG.  
    </svg> 
  </div>
</div>
<div class="flex-container">
  <div class="flex-item">
    <label for="polmer">Polmer:</label>
    <input id="polmer" type="number" [(ngModel)]="r" placeholder="polmer" required />
  </div>
  <div class="flex-item">
    <label for="sirina">Dolžina:</label>
    <input id="sirina" type="number" [(ngModel)]="w"  placeholder="dolzina" required />
  </div>
  <div class="flex-item">
    <label for="visina">Širina:</label>
    <input id="visina" type="number" [(ngModel)]="h" placeholder="sirina" required />
  </div>
  <div class="flex-item">
    <label for="rob">Rob:</label>
    <input id="rob" type="number" [(ngModel)]="p" placeholder="rob" required />
  </div>
  <div class="flex-item">
    <label for="visina">Min. razdalja:</label>
    <input id="Razmah" type="number" [(ngModel)]="d" placeholder="razmah" required />
  </div>
</div>
<button type="submit" (click)="onSubmitTemplateBased()">Submit</button>
<div id="max-rondelic"><span>Max rondelic:</span>{{responseModel?.maxRondelic}}</div>
<div id="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="x">
          <th mat-header-cell *matHeaderCellDef> X </th>
          <td mat-cell *matCellDef="let element"> {{element.x}} </td>
        </ng-container>
      
        <ng-container matColumnDef="y">
          <th mat-header-cell *matHeaderCellDef> Y </th>
          <td mat-cell *matCellDef="let element"> {{element.y}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
      </table>
</div>

