.view-container-full {
  background-color: #e3efde;
  display: inline-block;
  padding: 20px;
  margin-bottom: 30px;
  
  .view-container {
    height: 300px;
    width: 300px;
    background-color:gray;
    overflow: overlay;
    display: inline-block;
    
    .placeholder {
      background-color: gray;
      position: relative;
      .circle {
        border: 1px solid black;
        position: absolute;
        border-radius: 100%;
      }
    }
  }
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    .flex-item{
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
      width: 100%;
      margin: 5px 0;
    }
}

#table-container {
  table {
    width: 30%;
  }
}

label {
    width: 20%;
    display: inline-block;
    text-align: left;
    font-weight: 700;
    font-size: 1rem;
}

input {
    height: 32px;
    padding-left: 10px;
}

button {
  padding: 5px 30px;
  margin: 10px 0;
  background-color: #4CAF50;
  border: none;
  color: #fff;
  font-size: 1.05rem;
}

div#max-rondelic {
  color: #4caf50;
  font-size: 4rem;
  span {
    color: #000000;
    font-size: 2rem;
  }
}
